    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary header_bar">
      
      <div class="container-fluid ">
        <div class="col">
          <a class="navbar-brand" href="/"> <img class="main-logo" src="images/calclogo.png" alt="WebToolsX Logo"> </a>
        </div>
      </div>
    </nav>

    <div class="scroll-container">
      <button class="scroll-btn left">&larr;</button>
      <div class="scroll-wrapper">
        <div class="scroll-content">
          <a class="hr_nav-item" href="/profit-loss-calculator.html"><i class="fa-solid fa-chart-line me-1"></i> P/L Calculator</a>
          <a class="hr_nav-item" href="/average-calculator.html"><i class="fa-solid fa-divide me-1"></i> Average Calculator</a>
          <a class="hr_nav-item" href="/percentage-change-calculator.html"><i class="fa-solid fa-chart-simple me-1"></i> Percentage Change Calculator</a>
          <a class="hr_nav-item" href="/percentage-calculator.html"><i class="fa-solid fa-percent me-1"></i> Percentage Calculator</a>
          <a class="hr_nav-item" href="/age-calculator.html"><i class="fa-solid fa-cake-candles me-1"></i> Age Calculator</a>
          <a class="hr_nav-item" href="/emi-calculator.html"><i class="fa-solid fa-landmark me-1"></i> Loan EMI Calculator</a>
          <a class="hr_nav-item" href="/tip-calculator.html"><i class="fa-solid fa-coins me-1"></i> Tip Calculator</a>
          <a class="hr_nav-item" href="/themes.html"><i class="fa-solid fa-palette me-1"></i> Themes</a>
          <a class="hr_nav-item" href="/time.html"><i class="fa-solid fa-clock me-1"></i> World Clock</a>
          <a class="hr_nav-item" href="/world-clock-converter.html"><i class="fa-solid fa-globe me-1"></i> Time Converter</a>
          <a class="hr_nav-item" href="/bar-code-scanner.html"><i class="fa-solid fa-barcode me-1"></i> Barcode Scanner</a>
        </div>
      </div>
      <button class="scroll-btn right">&rarr;</button>
    </div>
